body{
    width: 99.999999vw;
    background-image: url("espacio.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

.principal{
    background-color: yellow;
    padding: 2em;
    border-radius: 1em;
}
#main{
    margin-top: 8%;
}

#palabra{
    height: max-content;
    display: flex;
    align-content: space-around ;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 4em;
    height: 20vh;
    border-radius: 0.8em;
    flex-wrap: wrap;
}
#vidas{
    height: 2rem;
    font-size: 2rem;
}
#palabra span {
    height: 80%;
    margin-left: 0.1em;
    margin-right: 0.1em;
    vertical-align: middle
}

#letras {
    height: max-content;
    background-color: rgb(182, 164, 8);
    border-radius: 0.66em;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    font-size: 1em;
}

.letra{
    width: 10.5%;
    font-size:2rem ;
    height: min-content;
    display:inline-block;
    border:0.1rem solid #000000;
    margin:0 0.2rem 0.2rem 0;
    border-radius:0.22rem;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04rem 0.04rem rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
   
    
.letra:hover{
text-shadow: 0 0 2em rgba(255,255,255,1);
color:#FFFFFF;
border-color:#FFFFFF;
}

.wrapper {
	height: 50px;
	width: 165px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

button {
	height: 100%;
	width: 90%;
	cursor: pointer;
	background-color: #08e1ae;
	background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
	border: none;
	border-radius: 50px 50px 30px 30px;
	transition: 1s;
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

button:active {
	border: none;
	outline: none;
}

button a {
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	text-decoration: none;
	color: rgba(37, 61, 29, 0.7);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

button:hover {
	border-radius: 100px 100px 20px 20px;
	height: 45px;
	width: 165px;
}

button:hover .scale {
	letter-spacing: 5px;
	font-size: 25px;
	transition: 1s;
}

.rotate-1, .rotate-2, .rotate-3, .rotate-4 {
	transition: 1s;
}

button:hover .rotate-1 {
	transform: rotate(15deg);
}

button:hover .rotate-2 {
	transform: rotate(-15deg);
}

button:hover .rotate-3 {
	transform: rotate(10deg);
}

button:hover .rotate-4 {
	transform: rotate(-25deg);
}

button:active {
	filter: hue-rotate(90deg);
}

@media (max-width: 800px){
    *{font-size: 10px;}

    #slots{
        height: 40%;
        font-size-adjust: inherit;
    }


    .letra{
        width: 10.5%;
        font-size:2rem ;
        height: min-content;
        display:inline-block;
        border:0.1rem solid #000000;
        margin:0 0.2rem 0.2rem 0;
        border-radius:0.12rem;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-shadow: 0 0.04rem 0.04rem rgba(0,0,0,0.35);
        background-color:#FFFFFF;
        text-align:center;
        transition: all 0.15s;
        }
}
